body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef2f7;
}

.login-card {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.login-card h2 {
  text-align: center;
  color: #1e3a8a;
}

.login-card p {
  text-align: center;
  color: gray;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background: #152c66;
}

.links {
  text-align: center;
  margin-top: 15px;
}

.links a {
  text-decoration: none;
  color: #1e3a8a;
}

.show-btn {
 text-align: center;
 margin-top: 5px;
  
}
.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
  font-size: 18px;
}